#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* 반투명 검정 배경 */
    z-index: 999;  /* 모달이 표시될 때, 검정 배경이 다른 요소들보다 위에 보이도록 설정 */
    display: none;
}

#modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;  /* 모달이 배경 위에 오도록 설정 */
    display: none;
}
